body {
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    background: rgb(21, 10, 82);
    width: 600px;
    border: white 1px solid;
    border-radius: 10px;
}

.scr {
    background-color: rgb(0, 0, 0);
    color: rgb(151, 0, 0);
    height: 93px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.score-btn {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: rgb(21, 10, 82);
    font-weight: bold;
    width: 40px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: white 1px solid;
    margin-bottom: 30px;
    margin-top: 20px;
}